attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
dateparser==1.2.0
humanize==4.11.0
idna==3.10
imageio==2.35.1
joblib==1.4.2
llvmlite==0.39.1
mypy-extensions==1.0.0
numba==0.56.4
numpy==1.23.5
pandas==2.2.3
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
requests==2.32.3
schedule==1.2.2
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
threadpoolctl==3.5.0
tomli==2.0.2
tqdm==4.66.5
-e git+https://github.com/drew2323/ttools.git@6cfee7aa4c9f1c13efdf2b9dcb54d1ae2106d73d#egg=ttools
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
vectorbtpro @ file:///Users/davidbrazda/Downloads/vectorbtpro-2024.6.19-py3-none-any.whl#sha256=5e202f62aeb7697bb1411302e1c062d1df4fed5de5e1c2e8867eac07263c2d4a
websocket-client==1.8.0
